.form {
  // $input-height: 30px;
  // $inner-spacing: .9em;
  display: flex;
  flex-direction: column;
}

.form__part + .form__part {
  margin-top: calc(3* 0.9em);

}

.form__heading {
  margin: 0, 0, 0.9; 
}

.form__field-wrapper {
  border: 1px solid red;
  margin-top: calc(3* 0.9em);
}

.form__icon {
  width: 30px;
  margin: auto;

}

.form__label {
  //
}

.form__input {
  //
}

.form__input::placeholder {
  //
}

.form__input:active,
.form__input:focus {
 //
}

.form__field {
  display: flex;
  flex-direction: column;

}

.form__field + .form__field {
  //
}

.form__action {
  //
}

.form__actions {
  margin-top: calc(3* 0.9em);
}

@media (min-width: 600px) {
  .form__part--flex {
    flex-direction: row;
  }

  .form__part--flex + .form__part--flex {
   //
  }

  .form__field-wrapper {
    //
  }

  .form__field-wrapper--spaced {
    width: 100
  }

  .form__field-wrapper--spaced + .form__field-wrapper--spaced {
    margin-left: 20px;
  }

  .form__field {

  }

  .form__field--spaced {
    //
  }

  .form__field--spaced + .form__field--spaced {
   //
  }

  .form__icon {
    //
  }

  .form__action {
    //
  }

  .form__actions {
    //
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: .7em;
}